/*Variable*/

:root {
    --blue: #103559;
    --white: #ffffff;
    --yellow: #FCEED5;
    --lightBlue: #00A7E7;
    --darkBlue: #003459;
}

/*The way to calculate height and width of element*/

* {
    box-sizing: border-box !important;
}

/*Main banner*/

#banner {
    height: 100vh !important;
    width: 100% !important;
    object-fit: cover;
    z-index: -1;
}

#banner_content {
    /* margin-left: 80px !important; */
    width: 80% !important;
    margin: auto !important;
    color: var(--blue);
    margin-right: 10% !important;
    margin-left: 10% !important;
    margin-top: 14vh !important;
}

#banner_content span:nth-child(1) {
    font-size: 2.5em !important;
    margin-bottom: -0.25em !important;
    word-spacing: -3px;
}

#banner_content span:nth-child(3) {
    font-size: 2em !important;
    margin-bottom: 0.4em !important;
    word-spacing: -3px;
}

#view_intro_btn {
    background-color: rgba(0, 0, 0, 0) !important;
    color: var(--blue) !important;
    border: 2px solid var(--blue);
    padding-right: 38px;
}

#view_intro {
    background-color: var(--yellow) !important;
    color: var(--blue) !important;
    border: 2px solid var(--blue);
    padding-right: 38px;
}

/*Main navbar*/

#nav {
    background-color: rgba(0, 0, 0, 0) !important;
}

li>a {
    color: var(--blue) !important;
}

#open_nav,
#open_nav:clicked {
    border: none !important;
}

/*Our pets section*/

section>div>p:nth-child(2),
section#brand>div span {
    color: var(--blue);
    font-size: 1.7em !important;
    margin-top: -0.7em;
}

section>div>p:nth-child(1),
section#brand>div>p:first-child {
    font-size: 1.2em !important;
}

/*Our pet seller section*/

section#brand>div>p>span:first-child {
    color: var(--blue);
    font-size: 1.7em !important;
    margin-top: -0.7em;
}

section#brand>div>p:first-child {
    font-size: 1.2em !important;
}

/*Card design*/

.card-style {
    background-color: white !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.087), 0 6px 20px 0 rgba(0, 0, 0, 0.087);
}

.dog-name {
    font-size: 1em;
}

.dog-info {
    font-size: 0.85em !important;
    color: gray;
    margin-bottom: 10px !important;
}

#present_tag {
    background-color: #FCEED5;
}

div#present_tag>span {
    bottom: 7px;
    font-size: 0.9em;
    color: var(--blue);
}

div#list_of_knowledge h5:first-child>span {
    background-color: var(--lightBlue) !important;
}

/*Adv banner*/

section.adv p:nth-child(1) {
    font-size: 3.2em !important;
    margin-bottom: -0.55em !important;
    word-spacing: -3px;
    color: var(--blue);
}

section.adv p:nth-child(3) {
    font-size: 2.5em !important;
    margin-bottom: 0.25em !important;
    word-spacing: -3px;
    color: var(--blue);
}

#footprint {
    position: absolute;
    top: 4.3em;
    left: 18em;
}

.col-logo-1 {
    width: 14.28%;
}

img[class^="col-logo-"] {
    float: left;
    padding: 5px;
}


/* xl responsive*/
@media (min-width: 1200px) {
    #banner_content {
        margin-top: 30vh !important;
        width: 50% !important;
        margin-left: 5vw !important;
    }

    #banner_content p {
        font-size: 1.2em !important;
        width: 80% !important
    }

    @media (min-width: 1200px) and (max-width: 1300px) {
        #banner_content span:nth-child(1) {
            font-size: 3.6em !important;
        }
        #banner_content span:nth-child(3) {
            font-size: 3em !important;
        }
    }
    @media (min-width: 1300px) and (max-width: 1400px) {
        #banner_content span:nth-child(1) {
            font-size: 3.8em !important;
        }
    
        #banner_content span:nth-child(3) {
            font-size: 3.4em !important;
        }
    }
    @media (min-width: 1400px) and (max-width: 1500px) {
        #banner_content span:nth-child(1) {
            font-size: 4em !important;
        }
        #banner_content span:nth-child(3) {
            font-size: 3.6em !important;
        }
    }
    @media (min-width: 1400px) and (max-width: 1500px) {
        #banner_content span:nth-child(1) {
            font-size: 4em !important;
        }
        #banner_content span:nth-child(3) {
            font-size: 3.6em !important;
        }
    }
    @media (min-width: 1500px) and (max-width: 1700px) {
        #banner_content {
            margin-top: 28vh !important;
            margin-left: 8vw !important;
        }
        #banner_content p {
            font-size: 1.25em !important;
            width: 75% !important
        }
        #banner_content span:nth-child(1) {
            font-size: 4em !important;
        }
        #banner_content span:nth-child(3) {
            font-size: 3.6em !important;
        }
    }
    @media (min-width: 1700px) {
        #banner_content {
            margin-top: 28vh !important;
            margin-left: 10vw !important;
        }
        #banner_content p {
            font-size: 1.25em !important;
            width: 75% !important
        }
        #banner_content span:nth-child(1) {
            font-size: 4em !important;
        }
        #banner_content span:nth-child(3) {
            font-size: 3.6em !important;
        }
    }
}

