/*Variable*/

:root {
    --blue: #103559;
    --white: #ffffff;
    --yellow: #FCEED5;
    --lightBlue: #00A7E7;
    --darkBlue: #003459;
}

/*The way to calculate height and width of element*/

* {
    box-sizing: border-box !important;
}

/*Fixed background of nav when scroll */

#bg-nav {
    background-color: var(--yellow);
    width: 100%;
    height: 4em;
    position: fixed;
    top: 0;
    z-index: 1;
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.087), 0 6px 20px 0 rgba(0, 0, 0, 0.087);
    transition: 0.4s;
}

/*Main banner*/

#banner {
    height: 100vh !important;
    width: 100% !important;
    object-fit: cover;
    z-index: -1;
}

#banner_content {
    /* margin-left: 80px !important; */
    width: 80% !important;
    margin: auto !important;
    color: var(--blue);
    margin-right: 10% !important;
    margin-left: 10% !important;
    margin-top: 14vh !important;
}

section#banner_content span:nth-child(1) {
    font-size: 2.5em !important;
    margin-bottom: -0.25em !important;
    word-spacing: -3px;
}

section#banner_content span:nth-child(3) {
    font-size: 2em !important;
    margin-bottom: 0.4em !important;
    word-spacing: -3px;
}

#view_intro_btn {
    background-color: rgba(0, 0, 0, 0) !important;
    color: var(--blue) !important;
    border: 2px solid var(--blue);
    padding-right: 38px;
}

#view_intro {
    background-color: var(--yellow) !important;
    color: var(--blue) !important;
    border: 2px solid var(--blue);
    padding-right: 38px;
}

/*Main navbar*/

#nav {
    background-color: rgba(0, 0, 0, 0) !important;
}

li>a {
    color: var(--blue) !important;
}

.searchBtn {
    background-color: var(--blue) !important;
    color: var(--white) !important;
    border: 2px solid var(--blue);
}

form input {
    width: 60% !important;
}

form button {
    width: 40% !important;
}

#open_nav, #open_nav:clicked{
    border: none !important;
}


/*Our pets section*/

section>div>p:nth-child(2),
section#brand>div span {
    color: var(--blue);
    font-size: 1.7em !important;
    margin-top: -0.7em;
}

section>div>p:nth-child(1),
section#brand>div>p:first-child {
    font-size: 1.2em !important;
}

/*Our pet seller section*/

section#brand>div>p>span:first-child {
    color: var(--blue);
    font-size: 1.7em !important;
    margin-top: -0.7em;
}

section#brand>div>p:first-child {
    font-size: 1.2em !important;
}

/*Card design*/

.card-style {
    background-color: white !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.087), 0 6px 20px 0 rgba(0, 0, 0, 0.087);
}

.dog-name {
    font-size: 1em;
}

.dog-info {
    font-size: 0.85em !important;
    color: gray;
    margin-bottom: 10px !important;
}

#present_tag {
    background-color: #FCEED5;
}

div#present_tag>span {
    bottom: 7px;
    font-size: 0.9em;
    color: var(--blue);
}

div#list_of_knowledge h5:first-child>span {
    background-color: var(--lightBlue) !important;
}

/*Adv banner*/

section.adv p:nth-child(1) {
    font-size: 3.2em !important;
    margin-bottom: -0.55em !important;
    word-spacing: -3px;
    color: var(--blue);
}

section.adv p:nth-child(3) {
    font-size: 2.5em !important;
    margin-bottom: 0.25em !important;
    word-spacing: -3px;
    color: var(--blue);
}

#footprint {
    position: absolute;
    top: 4.3em;
    left: 18em;
}

/*Footer design*/

footer {
    background-color: var(--yellow) !important;
    padding-top: 2.5em !important;
    margin-top: 2.5em !important;
}

section#footer>div:first-child {
    background-color: var(--darkBlue) !important;
}

footer form {
    background-color: var(--white) !important;
}

footer div:first-child>div:first-child {
    color: var(--white) !important;
}

footer li {
    list-style-type: none !important;
}

.col-logo-1 {
    width: 14.28%;
}

img[class^="col-logo-"] {
    float: left;
    padding: 5px;
}

form#searchform input,
form#searchform iconify-icon,
form#searchform button {
    display: none !important;
}

form#searchform {
    display: 100% !important;
}

/* Responsive for device has the width more than 1800px*/

@media screen and (min-width:1800px) {

    form#searchform input {
        width: 60% !important;
        display: block !important;
    }

    form#searchform button {
        width: 40% !important;
        display: block !important;
    }

    form#searchform {
        width: 60% !important;
        margin: auto !important;
    }

    form#searchform iconify-icon {
        display: block !important;
    }
}

/* Responsive for device has the width more than 1500px*/

@media screen and (min-width:1500px) {

    form#searchform input {
        width: 60% !important;
        display: block !important;
    }

    form#searchform button {
        width: 40% !important;
        display: block !important;
    }

    form#searchform {
        width: 80% !important;
        margin: auto !important;
    }

    form#searchform iconify-icon {
        display: block !important;
    }

}

/* Responsive for device has the width more than 1300px*/

@media screen and (min-width:1300px) {

    form#searchform input {
        width: 60% !important;
        display: block !important;
    }

    form#searchform button {
        width: 40% !important;
        display: block !important;
    }

    form#searchform {
        width: 90% !important;
        margin: auto !important;
    }

    form#searchform iconify-icon {
        display: block !important;
    }
}

/* Responsive for device has the width more than 1200px*/

@media screen and (max-width:1300px) {

    form#searchform input {
        width: 50% !important;
        display: block !important;
    }

    form#searchform button {
        width: 50% !important;
        display: block !important;
    }

    form#searchform {
        width: 90% !important;
        margin: auto !important;
    }

    form#searchform iconify-icon {
        display: block !important;
    }
}

/* Responsive for device has the width less than 1200px*/

@media screen and (max-width:1200px) {

    form#searchform input {
        width: 40% !important;
        display: block !important;
    }

    form#searchform iconify-icon {
        display: block !important;
    }

    form#searchform button {
        width: 60% !important;
        display: block !important;
    }
}

@media screen and (min-width:1401px) {

    #banner_content {
        margin-left: 10vw !important;
        color: var(--blue);
        margin-top: 30vh !important;
    }

    /*Banner intro*/

    section#banner_content span:nth-child(1) {
        font-size: 4.3em !important;
        margin-bottom: -0.25em !important;
        word-spacing: -3px;
    }

    section#banner_content span:nth-child(3) {
        font-size: 3.3em !important;
        margin-bottom: 0.25em !important;
        word-spacing: -3px;
    }

    section#banner_content>p {
        width: 40% !important;
    }


}

@media screen and (min-width:1201px) and (max-width:1400px) {

    #banner_content {
        margin-left: 8vw !important;
        color: var(--blue);
        margin-top: 30vh !important;
    }

    /*Banner intro*/

    section#banner_content span:nth-child(1) {
        font-size: 3.8em !important;
        margin-bottom: -0.25em !important;
        word-spacing: -3px;
    }

    section#banner_content span:nth-child(3) {
        font-size: 3em !important;
        margin-bottom: 0.25em !important;
        word-spacing: -3px;
    }

    section#banner_content>p {
        width: 40% !important;
    }

    section#footer>div:nth-child(1) {

        margin: 0 !important;
        margin-bottom: 1.5rem !important;
    }

    section#footer>div:nth-child(2) {
        margin: 0 !important;
    }

    /* section#footer>div:nth-child(5) {
        margin: 0 !important;
        margin-bottom: 1.5rem !important;
    } */

}

@media screen and (min-width:993px) and (max-width:1200px) {

    #banner_content {
        /* margin-left: 80px !important; */
        width: 80% !important;
        margin: auto !important;
        color: var(--blue);
        margin-right: 10% !important;
        margin-left: 10% !important;
        margin-top: 15vh !important;
    }

    section#banner_content span:nth-child(1) {
        font-size: 3.7em !important;
        margin-bottom: -0.25em !important;
        word-spacing: -3px;
    }

    section#banner_content span:nth-child(3) {
        font-size: 3em !important;
        margin-bottom: 0.4em !important;
        word-spacing: -3px;
    }

}

@media screen and (min-width:762px) and (max-width:993px) {

    #banner_content {
        /* margin-left: 80px !important; */
        width: 80% !important;
        margin: auto !important;
        color: var(--blue);
        margin-right: 10% !important;
        margin-left: 10% !important;
        margin-top: 15vh !important;
    }

    section#banner_content span:nth-child(1) {
        font-size: 3.1em !important;
        margin-bottom: -0.25em !important;
        word-spacing: -3px;
    }

    section#banner_content span:nth-child(3) {
        font-size: 2.5em !important;
        margin-bottom: 0.4em !important;
        word-spacing: -3px;
    }

    main {
        padding-left: 2em !important;
        padding-right: 2em !important;
    }

    section#footer {
        width: 96% !important;
        margin: auto !important;
    }

    section#footer>div:nth-child(1) {
        margin: 0 !important;
        margin-bottom: 1.5rem !important;
        padding: 15px 5px !important;
    }

    section#footer>div:nth-child(2) {
        margin: 0 !important;
        margin-bottom: 1rem !important;
    }

    section#footer>div:nth-child(2)>ul {
        margin: 6px !important;
    }


}

@media screen and (max-width:768px) {

    section#footer>div>div {
        /* font-size: 1em !important; */
        padding-bottom: 7px !important;
        padding-top: 7px !important;
    }

    section#footer {
        width: 90% !important;
        margin: auto !important;
    }

    section#footer>div:nth-child(1) {
        /* margin: 0 !important;
        margin-bottom: 1rem !important; */
        padding: 12px 8px !important;
    }

    section#footer>div:nth-child(2) {

        display: flex !important;
        justify-content: center !important;
    }

}

@media screen and (min-width:992px) and (max-width:1200px) {

    /*Adv banner*/
    section.adv p:nth-child(1) {
        font-size: 2.2em !important;
        margin-top: -0.4em !important;
    }

    section.adv p:nth-child(3) {
        margin-top: -0.3em !important;
        font-size: 1.7em !important;
    }

    section.adv p:nth-child(4) {
        width: 95% !important;
    }

    #footprint {
        position: absolute;
        top: 2.6em;
        left: 14em;
    }
}

@media screen and (min-width:800px) and (max-width:870px) {

    /*Adv banner*/

    section.adv p:nth-child(1) {
        font-size: 2.8em !important;
    }

    section.adv p:nth-child(3) {
        font-size: 2.3em !important;
    }

    #footprint {
        position: absolute;
        top: 4em;
        left: 16.3em;
    }
}

@media screen and (min-width:675px) and (max-width:800px) {

    /*Adv banner*/

    section.adv p:nth-child(1) {
        margin-top: 0.5em !important;
        font-size: 2.3em !important;
        margin-bottom: -0.8em !important;
    }

    section.adv p:nth-child(3) {
        font-size: 1.9em !important;
    }

    section.adv p:nth-child(4) {
        font-size: 0.85em !important;
    }

    #footprint {
        position: absolute;
        top: 4.5em;
        left: 14em;
    }

}

@media screen and (min-width:576px) and (max-width:675px) {

    /*Adv banner*/

    section.adv p:nth-child(1) {

        font-size: 2em !important;
        margin-bottom: -0.8em !important;
    }

    section.adv p:nth-child(3) {
        font-size: 1.2em !important;
    }

    section.adv p:nth-child(4) {
        font-size: 0.9em !important;
    }

    section.adv>div>div {
        display: none !important;
    }

    #footprint {
        position: absolute;
        top: 3em;
        left: 12.5em;
    }

}

@media screen and (max-width:576px) {

    /*Adv banner*/

    section.adv p:nth-child(1) {
        text-align: left !important;
        font-size: 2.5em !important;
        margin-bottom: -0.8em !important;
        /* line-height:  !important; */
    }

    section.adv p:nth-child(3) {
        text-align: left !important;
        font-size: 2em !important;
    }

    section.adv p:nth-child(4) {
        text-align: left !important;
        font-size: 0.9em !important;
        width: 100% !important;
    }

    section.adv>div>div {
        float: left !important;

    }

    section.adv>div {
        width: 84% !important;
        margin: 8% !important;
        margin-top: 14vw !important;

    }

    #footprint {
        position: absolute;
        top: 3em;
        left: 12.5em;
    }

}

@media screen and (max-width:420px) {

    /*Adv banner*/

    section.adv p:nth-child(1) {
        text-align: center !important;
        font-size: 2.2em !important;
        margin-bottom: -0.8em !important;
        /* line-height:  !important; */
    }

    section.adv p:nth-child(3) {
        text-align: center !important;
        font-size: 1.7em !important;
    }

    section.adv p:nth-child(4) {
        text-align: center !important;
        font-size: 0.9em !important;
        width: 100% !important;
    }

    section.adv>div>div {
        width: 90% !important;
        margin-left: 8% !important;
        margin-right: 2% !important;

    }

    section.adv>div {
        width: 90% !important;
        margin: 5% !important;
        margin-top: 5vw !important;

    }


}

/* Responsive for device has the width less than 885px*/

@media screen and (max-width:920px) {

    form#searchform input,
    form#searchform iconify-icon {
        display: none !important;
    }

    form#searchform button {
        width: 100% !important;
        margin: auto !important;
    }
}

/* Responsive for device has the width less than 700px*/

@media screen and (max-width:785px) {

    form#searchform input,
    form#searchform iconify-icon,
    form#searchform button {
        display: none !important;
    }

    .col-logo-1 {
        width: 25%
    }

    #nav {
        background-color: var(--yellow) !important;
    }

    main {
        padding-left: 2em !important;
        padding-right: 2em !important;
    }

}

@media screen and (max-width:450px) {

    section#banner_content span:nth-child(1) {
        font-size: 2.35em !important;
        line-height: 1.7em !important;
    }

    section#banner_content span:nth-child(3) {
        font-size: 1.9em !important;
    }

    section#banner_content>p {
        margin-bottom: 0 !important;
    }

    section#footer>div>div:nth-child(2)>form>input {

        width: 50% !important;
    }

    section#footer>div>div:nth-child(2)>form>button {

        width: 50% !important;
    }

}

/*----------------------------------------------------------------*/