/* Global color */
:root {
    --blue: #103559;
    --white: #ffffff;
    --yellow: #FCEED5;
    --lightBlue: #00A7E7;
    --darkBlue: #003459;
    --gray: #667479;
    --red: #FF564F;
    --apricot: #FFB672;
}

/*Background of nav bar*/
#bg-nav1 {
    background-color: var(--yellow) !important;
    width: 100%;
    height: 4em;
    position: fixed;
    top: 0;
    z-index: 1;
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.087), 0 6px 20px 0 rgba(0, 0, 0, 0.087);
    transition: 0.4s;
}

/* filter design*/
section.adv>div>p {
    color: var(--blue) !important;
}

/* div#filter>h2,
div#pets_list>div>h2,
div#filter>div>h4 {
    
} */

#title {
    color: var(--blue) !important;
}

#total {
    color: var(--gray) !important;
    font-size: 0.6em !important;
    margin-left: 5px;

}

@media (min-width: 567px) and (max-width:768px) {
    section.adv>div {
        width: 65%;
    }

    section.adv>div>div {
        display: block !important;
    }

    section.adv p:nth-child(1) {
        font-size: 2.8em !important;
        margin-top: 0.5rem;
        margin-bottom: -0.5em !important;
        word-spacing: -3px;
        color: var(--blue);
    }

    section.adv p:nth-child(3) {
        font-size: 2.4em !important;
        margin-bottom: 0.3em !important;
        word-spacing: -3px;
        color: var(--blue);
    }

    section.adv p:nth-child(4) {
        font-size: 0.9em !important;
        width: 100% !important;
    }

    @media (min-width: 650px) and (max-width: 700px) {
        section.adv p:nth-child(1) {
            margin-top: 0.5rem;
            font-size: 2.4em !important;
        }

        section.adv p:nth-child(3) {
            font-size: 2em !important;
        }

        section.adv p:nth-child(4) {
            font-size: 0.9em !important;

        }
    }

    @media (min-width: 600px) and (max-width: 650px) {
        section.adv p:nth-child(1) {
            margin-top: 0rem;
            font-size: 2.3em !important;
        }

        section.adv p:nth-child(3) {
            font-size: 1.9em !important;
        }

        section.adv p:nth-child(4) {
            font-size: 0.8em !important;
            

        }
    }

    @media (min-width: 567px) and (max-width: 600px) {
        section.adv p:nth-child(1) {
            margin-top: -0.5rem;
            font-size: 2.3em !important;
        }

        section.adv p:nth-child(3) {
            font-size: 1.8em !important;
        }

        section.adv p:nth-child(4) {
            font-size: 0.8em !important;

        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    section.adv>div {
        width: 65%;
    }

    section.adv>div>div {
        display: block !important;
    }

    section.adv p:nth-child(1) {
        font-size: 3.5em !important;
        margin-top: 2rem;
        margin-bottom: -0.4em !important;
        word-spacing: -3px;
        color: var(--blue);
    }

    section.adv p:nth-child(3) {
        font-size: 3em !important;
        margin-bottom: 0.3em !important;
        word-spacing: -3px;
        color: var(--blue);
    }

    section.adv p:nth-child(4) {
        font-size: 1.2em !important;

    }

    @media (min-width: 768px) and (max-width: 850px) {
        section.adv p:nth-child(1) {
            margin-top: 1.5rem;
            font-size: 2.8em !important;
        }

        section.adv p:nth-child(3) {
            font-size: 2.4em !important;
        }

        section.adv p:nth-child(4) {
            font-size: 1.1em !important;

        }
    }

    @media (min-width: 850px) and (max-width: 900px) {
        section.adv p:nth-child(1) {
            font-size: 3em !important;
        }

        section.adv p:nth-child(3) {
            font-size: 2.8em !important;
        }
    }
}